ipaddress ; python_version >= '2.7'
isodate ; python_version >= '2.7'
netapp-lib ; python_version >= '2.7'
requests ; python_version >= '2.7'
six ; python_version >= '2.7'
solidfire-sdk-python ; python_version >= '2.7'
xmltodict ; python_version >= '2.7'
